
{% extends "admin/base.html.twig" %}

{% block css %}
   <link rel="stylesheet" src="{{ asset('assets/css/articles.css') }}">
{% endblock %}

{% block title %}ADMIN : Liste des articles{% endblock %}

{% block main %}

   <div>
      <a href="#">Créer un nouvel article</a>
   </div>

   {% for article in articles %}
      <article>
         <h2>TITRE : {{ article.title }}</h2>
         <p>TITRE : {{ article.id }}</p>
         {# <img class="article-image" src="{{ article.image }}"> #}
         <a href="{{ path('article', {'id':article.id}) }}">Supprimer</a> | 
         <a href="{{ path('article', {'id':article.id}) }}">Modifier</a> | 
         <a href="{{ path('article', {'id':article.id}) }}">voir l'article</a>
      </article>
   {% endfor %}
{% endblock %}