{% extends "base.html.twig" %}

{% block title %}
   {{ article.title }}
{% endblock %}

{% block main %}
   
      <article>
         <h2>TITRE : {{ article.title }}</h2>
         <p>PUBLIE LE : {{ article.publisehdAt|date("m/d/Y", "Europe/Paris") }}</p>
         <p>CONTENU : {{ article.content }}</p>
         {# <img src="{{ article.image }}"> #}
      </article>
   
{% endblock %}